<%- include('partials/header') -%>
<%- include('partials/app-content') -%>


<body class="bg-[#ffffff] text-emerald-700">
    <div class="">
      <div class="">
          <div class=""> 
              <div class="">
                  <h1 class="uppercase text-3xl ml-10 mt-10"><strong>Welcome <%= user.userName %></strong></h1>
              </div>
              <ul class="row list-unstyled ml-96">
                <% for(var i=0; i<posts.length; i++) {%>
                  <li class="col-6 justify-content-between mt-5">
                    <div class="text-center">
                      <div class="flex flex-row mb-1 justify-around bg-[#cbd5d6] w-64 mt-2">
                        <label for="yogaWorkout1" class="form-label p-2 border uppercase text-center font-semibold flex-grow basis-0 border-white">Steps Walked on: <%= posts[i].createdAt %></label>
                        </div>
                      <div class="flex flex-center h-16 text-md">
                        <span class="bg-[#ccdfe1] form-control mb-1 w-64 p-4"><%= posts[i].count  %></span>
                      </div>
                  </li>
                <% } %>
                </ul>
      </div>
    </div>
  </body>
  