<%- include('partials/header') -%>
<%- include('partials/app-content') -%>


<body class="bg-[#ffffff] text-emerald-700">
    <div class="">
      <div class="">
          <div class=""> 
              <div class="">
                  <h1 class="uppercase text-3xl ml-10 mt-10"><strong>Welcome <%= user.userName %></strong></h1>
              </div>
              <div>
                  <h1 class="text-3xl ml-10 mt-10">
                    <ul>
                      <% let totalCount = 0; %>
                      <% posts.reverse().forEach(post => { %>
                        <% totalCount += post.count; %>
                      <% }); %>
                    </ul>
                          <div class="flex flex-center h-16 text-md">
                            <p class="bg-[#cce1cc] mb-1 w-80 p-4">Total Steps: <%= totalCount %></p>
                          </div>
                          <div>
                            <% let totalMiles = (totalCount / 2000).toFixed(1); %>
                            <p class="bg-[#cce1cc] mb-1 w-80 p-4">Total Miles: <%= totalMiles %></p>
                          </div>
                  </h1>
              </div>
              <ul class="row list-unstyled ml-96">
                <% for(var i=0; i<posts.length; i++) {%>
                  <li class="col-6 justify-content-between mt-5">
                    <div class="text-center">
                      <div class="flex flex-row mb-1 justify-around bg-[#cbd5d6] w-64 mt-2">
                        <label for="date" class="form-label p-2 border uppercase text-center font-semibold flex-grow basis-0 border-white"><%= posts[i].date.toDateString()  %></label>
                        </div>
                      <div class="flex flex-center h-16 text-md">
                        <span class="bg-[#cce1cc] form-control mb-1 w-64 p-4"><%= posts[i].count %> steps</span>
                      </div>
                  </li>
                <% } %>
                </ul>
                <div class="absolute bottom-0 right-0 mb-10 mr-10">
                  <button class="p-2 px-3  border-1 border-[#2a94b4] bg-[#1c687f] text-white rounded-lg hover:bg-[#8AC4CC] hover:text-[#1c687f]">
                    <a href="/logout">LOGOUT</a>
                  </button>
                </div>
      </div>
    </div>
  </body>
  